<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:plugin="http://atlassian.com/schema/spring/plugin"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://atlassian.com/schema/spring/plugin http://atlassian.com/schema/spring/plugin.xsd">


  <bean id="bandanaManager" class="com.atlassian.bamboo.bandana.BambooBandanaManager" plugin:available="true">
    <constructor-arg>
      <bean class="com.atlassian.bandana.DefaultBandanaManager">
        <constructor-arg ref="bandanaPersister" />
      </bean>
    </constructor-arg>
  </bean>

  <bean id="bandanaPersister" class="com.atlassian.bamboo.bandana.DefaultBandanaPersister">
    <constructor-arg ref="bandanaItemDao" />
  </bean>

  <bean id="bandanaItemDao" parent="txReadWriteProxy">
    <property name="target">
      <bean class="com.atlassian.bamboo.bandana.BandanaItemDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
      </bean>
    </property>
  </bean>

</beans>
