{namespace bamboo.page.about}

/**
 *
 */
{template .lgplLibraries}
<ul>
<li>atlassian-image-consumer (<a href="http://www.gnu.org/licenses/lgpl-2.1.txt" target="_blank">com.atlassian.image:atlassian-image-consumer:1.0.1:jar</a>)</li>
<li>byteman-agent (<a href="https://www.gnu.org/licenses/lgpl-2.1.txt" target="_blank">org.jboss.byteman:byteman:3.0.10:jar</a>)</li>
<li>byteman-submit (<a href="https://www.gnu.org/licenses/lgpl-2.1.txt" target="_blank">org.jboss.byteman:byteman-submit:3.0.10:bundle</a>)</li>
<li>Core Hibernate O/RM functionality (<a href="http://www.gnu.org/licenses/lgpl-2.1.html" target="_blank">org.hibernate:hibernate-core:5.2.10.Final-atlassian-2:jar</a>)</li>
<li>Hibernate Commons Annotations (<a href="http://www.gnu.org/licenses/lgpl-2.1.html" target="_blank">org.hibernate.common:hibernate-commons-annotations:5.0.1.Final:jar</a>)</li>
<li>Hibernate JPA 2 Metamodel Generator (<a href="https://www.gnu.org/licenses/lgpl-2.1.txt" target="_blank">org.hibernate:hibernate-jpamodelgen:5.2.10.Final:jar</a>)</li>
<li>Hibernate/c3p0 Integration (<a href="https://www.gnu.org/licenses/lgpl-2.1.txt" target="_blank">org.hibernate:hibernate-c3p0:5.2.10.Final:jar</a>)</li>
<li>Hibernate/Ehcache Integration (<a href="http://www.gnu.org/licenses/lgpl-2.1.html" target="_blank">org.hibernate:hibernate-ehcache:5.2.10.Final:jar</a>)</li>
<li>Java Native Access Platform (<a href="http://creativecommons.org/licenses/LGPL/2.1/" target="_blank">net.java.dev.jna:platform:3.4.0:jar</a>)</li>
<li>Java Persistence API -  Version 2.1 (<a href="http://hibernate.org" target="_blank">org.hibernate.javax.persistence:hibernate-jpa-2.1-api:1.0.0.Final:jar</a>)</li>
<li>JCaptcha (com.octo.captcha:jcaptcha-api:2.0-alpha-1:jar)</li>
<li>JCaptcha (com.octo.captcha:jcaptcha:2.0-alpha-1:jar)</li>
<li>jfreechart (<a href="http://www.jfree.org/jfreechart/" target="_blank">jfree:jfreechart:1.0.9:jar</a>)</li>
<li>JFreeChart (<a href="http://www.jfree.org/jfreechart/" target="_blank">org.jfree:jfreechart:1.0.19:jar</a>)</li>
<li>jna-platform (<a href="https://jna.dev.java.net/" target="_blank">net.java.dev.jna:jna-platform:3.2.7:jar</a>)</li>
<li>P4Java - Atlassian Patched (<a href="http://tek42.com/perforce" target="_blank">com.tek42.perforce:p4java:0.7.5-atlassian-13:jar</a>)</li>
<li>Streaming API for XML (<a href="http://www.gnu.org/licenses/gpl.txt" target="_blank">javax.xml.stream:stax-api:1.0-2:jar</a>)</li>
<li>wforms (<a href="http://code.google.com/p/wforms/" target="_blank">Unspecified</a>)</li>
</ul>
{/template}