@import "plugin://bamboo.web.resources.common/global.less";

.action-tip.contents {

    padding: @doubleSpacing;

    .action-tip-trigger {
        margin-top: @doubleSpacing;
        width: 100%;
    }

}